site_name: Python Blog
site_url: https://Hermit-commits-code.github.io/python-blog/
site_description: Exploring Python, Forensics, and Automation.
site_author: Joe

nav:
  - Home: index.md
  - Blog:
      - Launching Origin-Miner: posts/origin-miner-case-study.md
      - My First Post: posts/hello-world.md
  - Projects:
      - Origin-Miner: projects/origin-miner.md

theme:
  name: material
  palette:
    # Light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.top
    - content.code.copy
    - content.code.annotate
  icon:
    repo: fontawesome/brands/github
  extra:
    social:
      - icon: fontawesome/brands/github
        link: https://github.com/Hermit-commits-code
      - icon: fontawesome/brands/python
        link: https://pypi.org/user/Hotcupofjoe
      - icon: fontawesome/solid/paper-plane
        link: mailto:hotcupofjoe2013@gmail.com

markdown_extensions:
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
extra_javascript:
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

plugins:
  - search
  - minify:
      minify_html: true
  - git-revision-date-localized:
      type: date
