site_name: Python Blog
site_url: https://Hermit-commits-code.github.io/python-blog/
site_description: Exploring Python, Forensics, and Automation.
site_author: Joe

nav:
  - Home: index.md
  - Blog:
      - Project Series:
          - 01. Launching Origin-Miner: posts/origin-miner-case-study.md
          - 02. Exif-Eraser:
              - Why Metadata Matters: posts/metadata-stripper-p1.md
              - Solving Type Errors: posts/metadata-stripper-p2.md
              - Full Implementation: posts/metadata-stripper-p3.md
  - Projects:
      - Origin-Miner: projects/origin-miner.md
  - About: about.md

theme:
  name: material
  # logo: assets/logo.png
  # favicon: assets/favicon.ico
  palette:
    # Light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.sections
    - navigation.indexes
    - navigation.expand
    - navigation.tabs
    - navigation.top
    - content.code.copy
    - content.action.edit
    - content.code.annotate
  icon:
    repo: fontawesome/brands/github
  extra:
    social:
      - icon: fontawesome/brands/github
        link: https://github.com/Hermit-commits-code
      - icon: fontawesome/brands/python
        link: https://pypi.org/user/Hotcupofjoe
      - icon: fontawesome/solid/paper-plane
        link: mailto:hotcupofjoe2013@gmail.com

markdown_extensions:
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - meta
extra_javascript:
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

plugins:
  - search
  - minify:
      minify_html: true
  - git-revision-date-localized:
      type: date
      enable_creation_date: true
  - rss:
      abstract_chars_count: 160
      comments_path: "#__comments"
